<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<!--sqlMapper-->
<sqlMap namespace="SysGridSystem">
	<!-- 查询条件 -->
	<sql id="mapWhereClause">
		<isParameterPresent>
			 <isNotEmpty prepend="and" property="condition"> $condition$ </isNotEmpty>

			 <isNotEmpty prepend="and" property="endDataProg"> $endDataProg$ </isNotEmpty>
			<isNotEmpty prepend="and" property="id"> TB_SYS_GRID_SYSTEM.ID=#id#</isNotEmpty>
			<isNotEmpty prepend="and" property="status"> TB_SYS_GRID_SYSTEM.STATUS=#status#</isNotEmpty>
			<isNotEmpty prepend="and" property="created"> TB_SYS_GRID_SYSTEM.CREATED=#created#</isNotEmpty>
			<isNotEmpty prepend="and" property="createTime"> TB_SYS_GRID_SYSTEM.CREATE_TIME=#createTime#</isNotEmpty>
			<isNotEmpty prepend="and" property="updated"> TB_SYS_GRID_SYSTEM.UPDATED=#updated#</isNotEmpty>
			<isNotEmpty prepend="and" property="updateTime"> TB_SYS_GRID_SYSTEM.UPDATE_TIME=#updateTime#</isNotEmpty>
			
			
			<isNotEmpty prepend="and" property="zyfzr"> TB_SYS_GRID_SYSTEM.ZYFZR like '%'+#zyfzr#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="zyfzrAqzz"> TB_SYS_GRID_SYSTEM.ZYFZR_AQZZ like '%'+#zyfzrAqzz#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="fgfzr"> TB_SYS_GRID_SYSTEM.FGFZR like '%'+#fgfzr#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="fgfzrAqzz"> TB_SYS_GRID_SYSTEM.FGFZR_AQZZ like '%'+#fgfzrAqzz#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="dzgdld"> TB_SYS_GRID_SYSTEM.DZGDLD like '%'+#dzgdld#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="dzgdldAqzz"> TB_SYS_GRID_SYSTEM.DZGDLD_AQZZ like '%'+#dzgdldAqzz#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="bmgdld"> TB_SYS_GRID_SYSTEM.BMGDLD like '%'+#bmgdld#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="bmgdldAqzz"> TB_SYS_GRID_SYSTEM.BMGDLD_AQZZ like '%'+#bmgdldAqzz#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="sdjgzr"> TB_SYS_GRID_SYSTEM.SDJGZR like '%'+#sdjgzr#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="mbzrs"> TB_SYS_GRID_SYSTEM.MBZRS like '%'+#mbzrs#+'%'</isNotEmpty>
			
		</isParameterPresent>
	</sql>
	<!-- add method insert-->
	<insert id="insert" parameterClass="com.ay.jfds.sys.pojo.SysGridSystem">
  		INSERT INTO TB_SYS_GRID_SYSTEM(
				
				ZYFZR,
				ZYFZR_AQZZ,
				FGFZR,
				FGFZR_AQZZ,
				DZGDLD,
				DZGDLD_AQZZ,
				BMGDLD,
				BMGDLD_AQZZ,
				SDJGZR,
				MBZRS,
				
				ID,
				STATUS,
				CREATED,
				CREATE_TIME,
				UPDATED,
				UPDATE_TIME,
				ORG,
				ORG_TREE) values(
				
				#zyfzr#,
				#zyfzrAqzz#,
				#fgfzr#,
				#fgfzrAqzz#,
				#dzgdld#,
				#dzgdldAqzz#,
				#bmgdld#,
				#bmgdldAqzz#,
				#sdjgzr#,
				#mbzrs#,
				
				#id#,
				#status#,
				#created#,
				#createTime#,
				#updated#,
				#updateTime#,
				#org#,
				#orgTree#)
	</insert>
	<!-- add method delete-->
	<delete id="delete" parameterClass="java.lang.String">
		UPDATE TB_SYS_GRID_SYSTEM SET STATUS='0' 
  		WHERE 
 	 		ID=#id#</delete>
	<!-- add method getById-->
	<select id="getById" resultClass="com.ay.jfds.sys.pojo.SysGridSystem" parameterClass="java.lang.String">
 		SELECT 
			
			TB_SYS_GRID_SYSTEM.ZYFZR AS zyfzr,
			TB_SYS_GRID_SYSTEM.ZYFZR_AQZZ AS zyfzrAqzz,
			TB_SYS_GRID_SYSTEM.FGFZR AS fgfzr,
			TB_SYS_GRID_SYSTEM.FGFZR_AQZZ AS fgfzrAqzz,
			TB_SYS_GRID_SYSTEM.DZGDLD AS dzgdld,
			TB_SYS_GRID_SYSTEM.DZGDLD_AQZZ AS dzgdldAqzz,
			TB_SYS_GRID_SYSTEM.BMGDLD AS bmgdld,
			TB_SYS_GRID_SYSTEM.BMGDLD_AQZZ AS bmgdldAqzz,
			TB_SYS_GRID_SYSTEM.SDJGZR AS sdjgzr,
			TB_SYS_GRID_SYSTEM.MBZRS AS mbzrs,
			
			TB_SYS_GRID_SYSTEM.ID AS id,
			TB_SYS_GRID_SYSTEM.STATUS AS status,
			TB_SYS_GRID_SYSTEM.CREATED AS created,
			TB_SYS_GRID_SYSTEM.CREATE_TIME AS createTime,
			TB_SYS_GRID_SYSTEM.UPDATED AS updated,
			TB_SYS_GRID_SYSTEM.UPDATE_TIME as updateTime
		from
		TB_SYS_GRID_SYSTEM
  		where 
 	 		TB_SYS_GRID_SYSTEM.ID=#id#
	</select>
	<!-- add method update-->
	<update id="update" parameterClass="com.ay.jfds.sys.pojo.SysGridSystem">
		UPDATE TB_SYS_GRID_SYSTEM 
		<dynamic prepend="set">
			
			<isNotEmpty prepend="," property="zyfzr"> ZYFZR=#zyfzr#</isNotEmpty>
			<isNotEmpty prepend="," property="zyfzrAqzz"> ZYFZR_AQZZ=#zyfzrAqzz#</isNotEmpty>
			<isNotEmpty prepend="," property="fgfzr"> FGFZR=#fgfzr#</isNotEmpty>
			<isNotEmpty prepend="," property="fgfzrAqzz"> FGFZR_AQZZ=#fgfzrAqzz#</isNotEmpty>
			<isNotEmpty prepend="," property="dzgdld"> DZGDLD=#dzgdld#</isNotEmpty>
			<isNotEmpty prepend="," property="dzgdldAqzz"> DZGDLD_AQZZ=#dzgdldAqzz#</isNotEmpty>
			<isNotEmpty prepend="," property="bmgdld"> BMGDLD=#bmgdld#</isNotEmpty>
			<isNotEmpty prepend="," property="bmgdldAqzz"> BMGDLD_AQZZ=#bmgdldAqzz#</isNotEmpty>
			<isNotEmpty prepend="," property="sdjgzr"> SDJGZR=#sdjgzr#</isNotEmpty>
			<isNotEmpty prepend="," property="mbzrs"> MBZRS=#mbzrs#</isNotEmpty>
			
			<isNotEmpty prepend="," property="id"> ID=#id#</isNotEmpty>
			<isNotEmpty prepend="," property="status"> STATUS=#status#</isNotEmpty>
			<isNotEmpty prepend="," property="created"> CREATED=#created#</isNotEmpty>
			<isNotEmpty prepend="," property="createTime"> CREATE_TIME=#createTime#</isNotEmpty>
			<isNotEmpty prepend="," property="updated"> UPDATED=#updated#</isNotEmpty>
			<isNotEmpty prepend="," property="updateTime"> UPDATE_TIME=#updateTime#</isNotEmpty>
		</dynamic>
  		WHERE 
 	 		ID=#id#
	</update>
	
	<!-- add method find-->
	<select id="find" resultClass="com.ay.jfds.sys.pojo.SysGridSystem" parameterClass="java.util.Map">
 		SELECT
			
			TB_SYS_GRID_SYSTEM.ZYFZR AS zyfzr,
			TB_SYS_GRID_SYSTEM.ZYFZR_AQZZ AS zyfzrAqzz,
			TB_SYS_GRID_SYSTEM.FGFZR AS fgfzr,
			TB_SYS_GRID_SYSTEM.FGFZR_AQZZ AS fgfzrAqzz,
			TB_SYS_GRID_SYSTEM.DZGDLD AS dzgdld,
			TB_SYS_GRID_SYSTEM.DZGDLD_AQZZ AS dzgdldAqzz,
			TB_SYS_GRID_SYSTEM.BMGDLD AS bmgdld,
			TB_SYS_GRID_SYSTEM.BMGDLD_AQZZ AS bmgdldAqzz,
			TB_SYS_GRID_SYSTEM.SDJGZR AS sdjgzr,
			TB_SYS_GRID_SYSTEM.MBZRS AS mbzrs,
			
			TB_SYS_GRID_SYSTEM.ID AS id,
			TB_SYS_GRID_SYSTEM.STATUS AS status,
			TB_SYS_GRID_SYSTEM.CREATED AS created,
			TB_SYS_GRID_SYSTEM.CREATE_TIME AS createTime,
			TB_SYS_GRID_SYSTEM.UPDATED AS updated,
			TB_SYS_GRID_SYSTEM.UPDATE_TIME AS updateTime
		FROM
			TB_SYS_GRID_SYSTEM
		WHERE
			TB_SYS_GRID_SYSTEM.STATUS = '1'
		<include refid="SysGridSystem.mapWhereClause"/>
	</select>
	<!-- add method count-->
	<select id="count" resultClass="java.lang.Integer" parameterClass="java.util.Map">
 		SELECT COUNT(*) 
		FROM
			TB_SYS_GRID_SYSTEM
		WHERE
			TB_SYS_GRID_SYSTEM.STATUS = '1' 
		<include refid="SysGridSystem.mapWhereClause"/>
	</select>
</sqlMap>
