<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 配置shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- override these for application-specific URLs if you like: -->
		<property name="loginUrl" value="/go.jsp" />
		<property name="successUrl" value="/welcome.jsp" />
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />
		<property name="filterChainDefinitions">
			<value>
				/validCode.action = anon
				/login!login.action = anon
				/login!loginApps.action = anon
				/logout!logout.action = anon
				/templets/login_images/** = anon
				/user/** = anon
				/css/** =anon
				/resources/** = anon
				/NewFile.jsp = anon
				/login*.jsp = anon
				/loginout.jsp = anon
				/images/** = anon
				/js/*.js = anon
				/front.jsp = anon
				/register.jsp = anon
				/register_succeed.jsp=anon
				/officialWebsite/** = anon
				/index.jsp = anon
				/dept/deptAction!getDeptByName = anon
				/dept/deptAction!getById.action = anon
				/sourceData/** = anon
				/data/** = anon
				/js/tree/** = anon
				/templets/** = anon
				/register/** = anon
				/dept/deptAction!reloadAreaTree.action = anon
				/dept/deptAction!findByParentId.action = anon
				/dept/deptAction!reloadGovDept.action = anon
				/menu/menuAction!getMenuByUser.action = anon
				/autoStatistics/** = anon
				/borrow/** = anon
				/holiday/** = anon
				/worker/** = anon
				/mobileCommon/** = anon
				/reporting/** = anon
				/reversion/** = anon
				/reimburse/** = anon
				/workStation/** = anon
				/reimburseList/** = anon
				/dept/** = anon
				/frameSet/** = anon
				/logout = logout
				/api/** = anon
				/** = authc
			</value>
		</property>
	</bean>
	<!-- 增加缓存的处理 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<bean id="myRealm" class="com.ay.framework.shiro.MyRealm">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
	</bean>
</beans>