body {
	margin: 0px;
	overflow: hidden;
	font-size: 12px;
}
/*左侧按钮面板*/
.MenuGroupPanel {
	display: none;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
	width: 196px; /*面板宽度*/
	text-align: center;
}

.MenuGroupCaption {
	position: relative;
	height: 28px;
	font-size: 13px;
	width: 196px;
	border: 0px;
	cursor: hand;
	background-image: url(../leftmenu/left_menu1.gif);
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 9px;
	margin-top: 0px;
	color: #fff;
	float: inherit;
	font-weight: bold;
}

.MenuGroupCaption2 {
	position: relative;
	height: 28px;
	font-size: 13px;
	width: 196px;
	border: 0px;
	cursor: hand;
	background-image: url(../leftmenu/left_menuon.gif);
	text-align: center;
	padding-top: 9px;
	margin-top: 0px;
	color: #9c4207;
	float: inherit;
	font-weight: bold;
}

.MenuGroupCaption3 {
	position: relative;
	height: 28px;
	font-size: 13px;
	width: 235px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	cursor: hand;
	background-image: url(../leftmenu/left_menuon.gif);
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 8px;
	color: #fff;
	float: inherit;
	font-weight: bold;
}

/***（图型）以下每行排列一个**/
.MenuGroupItem1 {
	position: relative;
	float: left;
	width: 196px; /* 100 */
	height: 96px;
	font-size: 12px;
	color: #FFF;
	border: 0;
	background: url("../leftmenu/menu_icon1_b.gif") no-repeat center top;
	text-align: center;
	padding-top: 6px;
	padding-left: 3px;
	padding-right: 0px;
	background-color: #F1F6F9;
	margin-top: 3px;
	/*margin-left:47px;*/
}

.MenuGroupItem1_MSOVER {
	position: relative;
	float: left;
	width: 196px; /* 100 */
	height: 96px;
	font-size: 12px;
	color: #a56808;
	cursor: hand;
	border: 0;
	background: url("../leftmenu/menu_icon2_b.gif") no-repeat center top;
	text-align: center;
	padding-top: 6px;
	padding-left: 3px;
	padding-right: 0px;
	background-color: #F1F6F9;
	margin-top: 3px;
	/*margin-left:47px;*/
}

/***（图型）以下每行排列两个**/
.MenuGroupItem2 {
	position: relative;
	float: left;
	width: 80px;
	height: 77px;
	font-size: 12px;
	color: #fff;
	border: 0;
	background: url("../leftmenu/menu_icon1.gif") no-repeat center top;
	text-align: center;
	padding-top: 6px;
	padding-left: 5px; /*10*/
	padding-right: 0px;
	background-color: #c9e2f8;
	margin-left: 10px;
	margin-top: 3px;
}

.MenuGroupItem2_MSOVER {
	position: relative;
	float: left;
	width: 80px;
	height: 77px;
	font-size: 12px;
	color: #a56808;
	cursor: hand;
	border: 0;
	background: url("../leftmenu/menu_icon2.gif") no-repeat center top;
	text-align: center;
	padding-top: 6px;
	padding-left: 5px;
	padding-right: 0px;
	background-color: #c9e2f8;
	margin-top: 3px;
	margin-left: 10px;
}

/***（图型）以下每行排列三个**/
.MenuGroupItem3 {
	position: relative;
	float: left;
	width: 65px;
	height: 62px;
	font-size: 12px;
	color: #FFF;
	border: 0;
	background: url("../leftmenu/menu_icon1_s.gif") no-repeat center top;
	text-align: center;
	padding-top: 1px;
	background-color: #F1F6F9;
	margin-top: 2px;
}

.MenuGroupItem3_MSOVER {
	position: relative;
	float: left;
	width: 65px;
	height: 62px;
	font-size: 12px;
	color: #a56808;
	cursor: hand;
	border: 0;
	background: url("../leftmenu/menu_icon2_s.gif") no-repeat center top;
	text-align: center;
	padding-top: 1px;
	background-color: #F1F6F9;
	margin-top: 2px;
}

/***（图型）以下每行排列四个**/
.MenuGroupItem4 {
	position: relative;
	float: left;
	width: 65px;
	height: 62px;
	font-size: 12px;
	color: #FFF;
	border: 0;
	background: url("../templets/template_2/leftmenu/menu_icon1_s.gif")
		no-repeat center top;
	text-align: center;
	padding-top: 1px;
	background-color: #F1F6F9;
	margin-top: 2px;
}

.MenuGroupItem4_MSOVER {
	position: relative;
	float: left;
	width: 65px;
	height: 62px;
	font-size: 12px;
	color: #a56808;
	cursor: hand;
	border: 0;
	background: url("../leftmenu/menu_icon2_s.gif") no-repeat center top;
	text-align: center;
	padding-top: 1px;
	background-color: #F1F6F9;
	margin-top: 2px;
}