body {
	font-family: "����";
	font-size: 12px;
	scrollbar-face-color: #9EBFE8;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #9EBFE8;
	scrollbar-darkshadow-color: #9EBFE8;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #FFFFFF;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

iframe {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a {
	font-family: "����";
	font-size: 14px;
	white-space: nowrap;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.datewordspos { /*�������õĲ㣬���ڷ����������ֺͰ�ť��*/
	float: left;
	width: 100%;
	position: absolute;
}

.toptitle {
	background: #4aadc2;
	height: 78px;
	width: 100%;
}

/*�ұ�ͷ��ˢ�º��˳�*/
.topright {
	float: left;
	width: 618px;
	height: 78px;
	background: #4aadc2 url(../top/top_zf.png) 0 center no-repeat;
}

.topright strong {
	font-weight: bold;
	color: #a1ff64;
}
/*.topright_buttom{ float:right;
                  height:30px;
				  width:140px;
				  clear:both;
				  margin:45px 3px 0 0;		
				  }*/
img {
	border: 0;
}

.renwu {
	padding-left: 10px;
}

.topshe {
	padding: 15px 0 0;
	width: 384px;
	float: right;
	height: 56px;
	font-weight: normal;
	text-align: right;
	line-height: 25px;
	font-size: 12px;
	color: #fff;
	margin-top: 0px;
	margin-right: 0;
	background: #4aadc2;
	position: absolute;
	top: 0;
	right: 0;
}

.buttom_top {
	float: right;
	display: block;
	border: 1px solid #1D4164;
	text-align: center;
	background: #006CC8;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	padding: 13px 0;
	display: block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-shadow: 1px 1px 1px #193046;
	-moz-box-shadow: 0 1px 3px #193046;
	-webkit-box-shadow: 0 1px 3px #193046;
	box-shadow: 0 1px 3px #193046;
}

.buttom_top:hover {
	background: #207fde;
	color: #fff
}

.buttom_top:active {
	background: #0567a5;
	color: #fff
}

.buttom {
	padding-top: 18px
}

.topright a {
	background: #fff;
	border: 2px solid #71d1f4;
}

.top_bottom {
	width: 100%;
	height: 28px;
	margin: 0;
	background: #dce7f2;
	border-bottom: 1px solid #E3E3E3;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,
		startColorStr=#ffffff, endColorStr=#EFEFEF);
}

.top_bottom a {
	color: #333333;
	font-family: "΢���ź�";
	font-size: 13px;
}

/* background:url(../top/weizhi_bg.gif) repeat-x;}*/
.top_bottom h2 {
	font-size: 14px;
	width: 70%;
	color: #005bb8;
	float: left;
	line-height: 28px;
	margin: 0;
}

#top_bottom_style {
	float: left;
	list-style: none;
}

#top_bottom_style li {
	
}

.datewords { /*��������*/
	font-family: "����";
	font-weight: bold;
	font-size: 12px;
	color: #ccd7e2;
	margin: 0px 0 0 10px;
	padding: 0 10px 0 30px;
	float: left;
	height: 19px;
	line-height: 17px;
	background: #287991 url(../top/u_date.png) 5px center no-repeat;
}

#link_clor span,#link_clor a {
	color: #fff;
}

#link_clor {
	float: left
}

#link_clor span {
	margin: 0 2px;
}

.mainmenu {
	float: left;
	height: 34px; /* 26 */
	width: 870px;
	margin-top: 27px; /* 37 */
	margin-left: 180px;
	position: absolute;
}

.mainleft { /*�������������˵���*/
	width: 196px;
	ground-image: url(../leftmenu/bg_left1.gif);
	ground-repeat: repeat-y;
	ground-color: #F1F6F9;
	vertical-align: top;
}

.navpoint {
	CURSOR: hand;
	height: 100%;
	width: 9px;
	ground: url(../leftmenu/bgHide.gif);
	padding: 0;
}

.navpoint span {
	CURSOR: hand;
	height: 180px;
	width: 9px;
	ground-image: url(../leftmenu/left_flex1.gif);
	ground-repeat: no-repeat;
	margin: 0px;
}

#menudiv {
	float: left;
	white-space: nowrap;
}

.menu {
	padding: 0;
	margin: 0;
	border: 0;
}

.menu  li {
	float: left;
	margin-right: 0px;
	border: 1px;
	width: 120px;
	height: 34px;
	border: 0px solid red;
	text-align: center;
}

.menu  li div {
	padding-top: 6px;
	cursor: hand;
	width: 120px;
	height: 34px;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
}

.menu li#father div {
	ground: url(../top/top_menu_1.gif) repeat-x;
	height: 34px;
}
/* �Ҳ�1���˵�״̬��chose��ѡ�� nochose��δѡ�� mousemove����꾭��?*/
.menu li#father.chose div {
	color: #0c3174;
	font-weight: bold;
	ground-image: url(../top/top_menu_1.gif);
	text-decoration: none;
	ground-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu li#father.nochose div {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	ground-image: url(../top/top_menu_2.gif);
	ground-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu li#father.mousemove div {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	ground-image: url(../top/top_menu3.gif);
	ground-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu  li#child.chose  div {
	color: white;
	ground-image: url(../top/top_menu_1.gif);
}

.menu  li#child.nochose  div {
	color: white;
	ground-image: url(../top/top_menu_1.gif);
	height: 34px;
}

.menu  li a {
	COLOR: yellow;
	TEXT-DECORATION: none;
	cursor: hand;
}

UL.tree {
	text-indent: 0px;
	margin-left: 0px;
	margin-top: 0px;
	list-style-position: inside;
	font-size: 12px;
	width: 196px;
	color: #fff;
}

UL.tree li {
	list-style: none;
	COLOR: #2C65C4;
	line-height: 20px;
	ground-color: #e3f9fd;
	ground-image: url(../leftmenu/folder_open.gif);
	ground-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

.treeover {
	list-style: none;
	color: yellow;
	line-height: 20px;
	ground-color: #86d9fb;
	ground-image: url(../leftmenu/folder_open.gif);
	ground-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

.treeout {
	list-style: none;
	COLOR: #2C65C4;
	line-height: 20px;
	ground-color: #e3f9fd;
	ground-image: url(../leftmenu/folder_open.gif);
	ground-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

UL.tree div {
	padding-left: 5px;
}
/*������Ͳ˵�?/
UL.tree Li.treeopen {
	list-style: none;
	COLOR: #FFF;
	line-height: 28px;
	ground-image:
		url(../leftmenu/treeopen.gif);
	ground-repeat: no-repeat;
	margin-right: 0px;
	padding-left: 14px;
	font-weight: bold;
}

UL.tree Li.treeclose {
	list-style: none;
	COLOR: #FFF;
	line-height: 28px;
	text-align: absmiddle;
	ground-image: url(../leftmenu/tree.gif);
	ground-repeat: no-repeat;
	margin-right: 0px;
	padding-left: 14px;
	font-weight: bold;
}

UL.tree Li.treeopen UL {
	margin-top: 2px;
	margin-left: 22px;
}

UL.tree Li.treeclose UL {
	display: none;
	COLOR: #FFF;
	ground-image: url(../leftmenu/tree.gif);
	ground-repeat: no-repeat;
	margin-right: 2px;
	padding-left: 14px;
	line-height: 28px;
	font-weight: bold;
}

UL.tree  li a {
	TEXT-DECORATION: none;
	cursor: hand;
	font-size: 13px;
}

.treedivoutline {
	overflow: auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: top;
	/*ground:url(../leftmenu/bg_left2.gif) no-repeat center bottom;
	ground-color:#F1F6F9;��౳���?/
	height: 100%;
}

.treediv {/*���˵�λ��*/
margin-top
:
 
0
px
;

	
margin-left
:
 
0
px
;


}

/*----------------���¶�����水ť��Ԫ��?--------------*/
.menuteam { /*��ť��*/
	float: left;
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif, "����";
	font-weight: bold;
	color: #30758e;
	font-size: 13px;
	padding-top: 3px;
	position: absolute;
	top: 37px;
	left: -180px;
	ground: url("../top/bg_div.gif") no-repeat 0px 0px;
	height: 26px;
	width: 196px;
}

.menuteam img {
	top: 0px;
} /* ��໬�����ͷ��λ�� */
.b1 {
	ground: url("../top/icon_b1.gif") repeat-x right top;
	ground-color: #3474AC;
	padding-top: 2px;
	color: #ffffff;
	CURSOR: hand;
	width: 47px;
	height: 20px;
	border-style: none;
}

/*һ�������˵������?/
.procro {
	float: left;
	height: 36px;
	margin: 0px;
	overflow: hidden;
	width: 768px;/*�˵���ʾ����*/
display
:
 
inline
;

	
vertical-align
:
 
bottom
;


}
/*һ�������˵����ڲ�*/
.procroin {
	height: 36px;
	width: 20000px; /*�ڲ�˵����򳤶�?/
}

.lftbtn {/*�Ҳ�1���˵�����������?/
	ground: url('../../../images/btn_leftbg.gif') center;
	ground-repeat: no-repeat;
	align:center;	
	cursor: pointer;
	float: left;
	margin-left: 21px;
	width: 36px;
	height: 34px;
	display: inline;
}

.rgtbtn {/*�Ҳ�1���˵����ҹ�����ť*/
	ground: url('../../../images/btn_right.gif') center;
	ground-repeat: no-repeat;
	float: left;
	margin-left: 0px;
	height: 26px;
	width: 36px;
	display: inline;
}

.hasMap { /*��ͼ��ʾģʽ�л�*/
	ground-image: url(../right/indent.gif);
	ground-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 5px;
	margin-left: 3px;
	position: absolute;
	cursor: hand;
	z-index: 2;
	margin-top: 40px;
}

.right_div { /*�Ҳ�div*/
	ground-image: url(../top/right_top.gif);
	ground-repeat: repeat-x;
	padding-top: 0px;
}