body {
	margin: 0px;
	font-family: "����";
	font-size: 12px;
	scrollbar-face-color: #9EBFE8;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #9EBFE8;
	scrollbar-darkshadow-color: #9EBFE8;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #FFFFFF;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../top/qyd_body_back.jpg) no-repeat;
}

* {
	margin: 0;
	padding: 0;
}

iframe {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a {
	font-family: "����";
	font-size: 12px;
	white-space: nowrap;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: yellow;
}

.datewordspos { /*�������õĲ㣬���ڷ����������ֺͰ�ť��*/
	float: left;
	width: 100%;
	position: absolute;
}

#top {
	width: 100%;
	height: 152px;
}

.toptitle {
	width: 100%;
	height: 110px;
	/*background:url(../top/qyd_top_title.png) 0 32px repeat-x;*/
}

/*�ұ�ͷ��ˢ�º��˳�*/
.topright {
	width: 532px;
	height: 110px;
	background: url(../top/qyd_top_title.png) no-repeat;
	float: left;
}

.topright strong {
	font-weight: bold;
	color: #a1ff64;
}
/*.topright_buttom{ float:right;
                  height:30px;
				  width:140px;
				  clear:both;
				  margin:45px 3px 0 0;		
				  }*/
img {
	border: 0;
}

.renwu {
	padding-left: 10px;
}

.topshe {
	width: 100%;
	/*height:32px;*/
	font-weight: normal;
	text-align: right;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	margin-top: 0px;
	margin-right: 15px;
	background: url(../top/banner.png) no-repeat right top;
}

.topshe a {
	background: none;
}

.top_bottom {
	width: 100%;
	height: 32px;
	float: left;
	clear: both;
	background: url(../top/weizhi_bg.gif) repeat-x;
}

.top_bottom h2 {
	font-size: 14px;
	color: #005bb8;
	float: left;
	line-height: 35px;
}

#top_bottom_style {
	float: left;
	list-style: none;
}

#top_bottom_style li {
	
}

.datewords { /*��������*/
	font-family: Verdana, Arial, Helvetica, sans-serif, "����";
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	padding-left: 20px;
	background: url(../top/calendar.png) no-repeat left center;
}

.dock-item {
	color: #fff;
	font-size: 14px;
}

.rtopmenu { /*���Ͻǲ˵�*/
	z-index: -1;
	font-family: Verdana, Arial, Helvetica, sans-serif, "����";
	background-image: url(../top/top_title.gif);
	background-repeat: no-repeat;
	float: right;
	width: 220px;
	height: 20px;
	margin-top: 0px;
	color: #FFFFFF;
	padding-left: 20px;
	font-size: 12px;
	position: absolute;
}

.userinfo {
	position: absolute;
	top: 37px;
	font-family: "����";
	color: #fff;
	font-size: 13px;
	height: 26px;
	padding-top: 3px;
	text-align: left;
	padding-left: 7px;
	width: 196px;
	/*background:url(../top/bgInfo.gif);*/
}

.mainmenu {
	float: left;
	height: 34px; /* 26 */
	width: 870px;
	margin-top: 27px; /* 37 */
	margin-left: 180px;
	position: absolute;
}

.mainleft { /*�������������˵���*/
	width: 196px;
	background-image: url(../leftmenu/bg_left1.gif);
	background-repeat: repeat-y;
	background-color: #F1F6F9;
	vertical-align: top;
}

.navpoint {
	CURSOR: hand;
	height: 100%;
	width: 9px;
	background: url(../leftmenu/bgHide.gif);
	padding: 0;
}

.navpoint span {
	CURSOR: hand;
	height: 180px;
	width: 9px;
	background-image: url(../leftmenu/left_flex1.gif);
	background-repeat: no-repeat;
	margin: 0px;
}

#menudiv {
	float: left;
	white-space: nowrap;
}

.menu {
	padding: 0;
	margin: 0;
	border: 0;
}

.menu  li {
	float: left;
	margin-right: 0px;
	border: 1px;
	width: 120px;
	height: 34px;
	border: 0px solid red;
	text-align: center;
}

.menu  li div {
	padding-top: 6px;
	cursor: hand;
	width: 120px;
	height: 34px;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
}

.menu li#father div {
	background: url(../top/top_menu_1.gif) repeat-x;
	height: 34px;
}
/* �Ҳ�1���˵�״̬��chose��ѡ�� nochose��δѡ�� mousemove����꾭��?*/
.menu li#father.chose div {
	color: #0c3174;
	font-weight: bold;
	background-image: url(../top/top_menu_1.gif);
	text-decoration: none;
	background-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu li#father.nochose div {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	background-image: url(../top/top_menu_2.gif);
	background-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu li#father.mousemove div {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	background-image: url(../top/top_menu3.gif);
	background-repeat: no-repeat;
	width: 128px;
	height: 34px;
	line-height: 24px;
}

.menu  li#child.chose  div {
	color: white;
	background-image: url(../top/top_menu_1.gif);
}

.menu  li#child.nochose  div {
	color: white;
	background-image: url(../top/top_menu_1.gif);
	height: 34px;
}

.menu  li a {
	COLOR: yellow;
	TEXT-DECORATION: none;
	cursor: hand;
}

UL.tree {
	text-indent: 0px;
	margin-left: 0px;
	margin-top: 0px;
	list-style-position: inside;
	font-size: 12px;
	width: 196px;
	color: #fff;
}

UL.tree li {
	list-style: none;
	COLOR: #2C65C4;
	line-height: 20px;
	background-color: #e3f9fd;
	background-image: url(../leftmenu/folder_open.gif);
	background-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

.treeover {
	list-style: none;
	color: yellow;
	line-height: 20px;
	background-color: #86d9fb;
	background-image: url(../leftmenu/folder_open.gif);
	background-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

.treeout {
	list-style: none;
	COLOR: #2C65C4;
	line-height: 20px;
	background-color: #e3f9fd;
	background-image: url(../leftmenu/folder_open.gif);
	background-repeat: no-repeat;
	margin-right: 2px;
	font-weight: normal;
}

UL.tree div {
	padding-left: 5px;
}
/*������Ͳ˵�?/
UL.tree Li.treeopen {
	list-style: none;
	COLOR: #FFF;
	line-height: 28px;
	background-image:
		url(../leftmenu/treeopen.gif);
	background-repeat: no-repeat;
	margin-right: 0px;
	padding-left: 14px;
	font-weight: bold;
}

UL.tree Li.treeclose {
	list-style: none;
	COLOR: #FFF;
	line-height: 28px;
	text-align: absmiddle;
	background-image: url(../leftmenu/tree.gif);
	background-repeat: no-repeat;
	margin-right: 0px;
	padding-left: 14px;
	font-weight: bold;
}

UL.tree Li.treeopen UL {
	margin-top: 2px;
	margin-left: 22px;
}

UL.tree Li.treeclose UL {
	display: none;
	COLOR: #FFF;
	background-image: url(../leftmenu/tree.gif);
	background-repeat: no-repeat;
	margin-right: 2px;
	padding-left: 14px;
	line-height: 28px;
	font-weight: bold;
}

UL.tree  li a {
	TEXT-DECORATION: none;
	cursor: hand;
	font-size: 13px;
}

.treedivoutline {
	overflow: auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: top;
	/*background:url(../leftmenu/bg_left2.gif) no-repeat center bottom;
	background-color:#F1F6F9;��౳���?/
	height: 100%;
}

.treediv {/*���˵�λ��*/
margin-top
:
 
0
px
;

	
margin-left
:
 
0
px
;


}

/*----------------���¶�����水ť��Ԫ��?--------------*/
.menuteam { /*��ť��*/
	float: left;
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif, "����";
	font-weight: bold;
	color: #30758e;
	font-size: 13px;
	padding-top: 3px;
	position: absolute;
	top: 37px;
	left: -180px;
	background: url("../top/bg_div.gif") no-repeat 0px 0px;
	height: 26px;
	width: 196px;
}

.menuteam img {
	top: 0px;
} /* ��໬�����ͷ��λ�� */
.b1 {
	background: url("../top/icon_b1.gif") repeat-x right top;
	background-color: #3474AC;
	padding-top: 2px;
	color: #ffffff;
	CURSOR: hand;
	width: 47px;
	height: 20px;
	border-style: none;
}

/*һ�������˵������?/
.procro {
	float: left;
	height: 36px;
	margin: 0px;
	overflow: hidden;
	width: 768px;/*�˵���ʾ����*/
display
:
 
inline
;

	
vertical-align
:
 
bottom
;


}
/*һ�������˵����ڲ�*/
.procroin {
	height: 36px;
	width: 20000px; /*�ڲ�˵����򳤶�?/
}

.lftbtn {/*�Ҳ�1���˵�����������?/
	background: url('../../../images/btn_leftbg.gif') center;
	background-repeat: no-repeat;
	align:center;	
	cursor: pointer;
	float: left;
	margin-left: 21px;
	width: 36px;
	height: 34px;
	display: inline;
}

.rgtbtn {/*�Ҳ�1���˵����ҹ�����ť*/
	background: url('../../../images/btn_right.gif') center;
	background-repeat: no-repeat;
	float: left;
	margin-left: 0px;
	height: 26px;
	width: 36px;
	display: inline;
}

.hasMap { /*��ͼ��ʾģʽ�л�*/
	background-image: url(../right/indent.gif);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 5px;
	margin-left: 3px;
	position: absolute;
	cursor: hand;
	z-index: 2;
	margin-top: 40px;
}

.right_div { /*�Ҳ�div*/
	background-image: url(../top/right_top.gif);
	background-repeat: repeat-x;
	padding-top: 0px;
}